header h1{
    text-align: center;
}

body{
      background-color: rgb(167, 167, 242);
      font-family: 'Courier New', Courier, monospace;
}
#container{
      text-align: center;
      width: 500px;
      height: 500px ;
      background-color: bisque;
      margin: auto;
      padding: 50px;
      border-radius: 20px;
}
section h2{
      text-align: left;
}
section input{
      height: 30px;
}
section p{
      font-size: 25px;
      font-weight: 900;
}
footer{
      text-align: center;
      font-size: 20px;
}
 #button:hover{
      background-color: rgb(167, 167, 242);
}